.git
.cache
Dockerfile**
.gitignore
.env
*.MD
LICENSE
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
coverage.xml
*,cover
*.log
env.sample
