PROJECT_NAME=transit_operations_analytics_data

# the database superuser name - this is the default
POSTGRES_USER=postgres

# the database name the API will connect to - "dbname" in most PostgreSQL command-line tools
POSTGRES_NAME=transit_operations_analytics_data

# the database owner - automatic restore needs this (most likely only used in dev)
DATABASE_OWNER=transportation2019

# *service* name (*not* image name) of the database in the Docker network
POSTGRES_HOST=db_development

# port the database is listening on in the Docker network
POSTGRES_PORT=5432

# password for the PostgreSQL database superuser in the database container
POSTGRES_PASSWORD=sit-down-c0mic

# the password for the teams
TEAM_PASSWORD=d0wn!0ff!a!duck

# Django secret key in the API container
DJANGO_SECRET_KEY=r0ck.ar0und.the.c10ck

# Docker container registry host
DOCKER_REPO=

# subfolder/namespace in registry
DOCKER_REPO_NAMEPSACE=

# (Production) Docker image name
DOCKER_IMAGE=backend-examplar-service

# (Production) Docker service name
DOCKER_SERVICE=backend-examplar-service

# AWS region for our ECR
AWS_DEFAULT_REGION=us-west-2
