
# PostgreSQL role for the database
POSTGRES_USER=transportation2019

# PostgreSQL database name
POSTGRES_NAME=transit_operations_analytics_data

# PostgreSQL host
POSTGRES_HOST=local_postgis

# PostgreSQL password. With a local PostGIS container,
# this password will be used for both `postgres` and
# `${POSTGRES_USER}`
POSTGRES_PASSWORD=this_is_not_the_password

# standard PostgreSQL port
POSTGRES_PORT=5432

# Django variables
DJANGO_SECRET_KEY=h0ldon2th3nighT
DEBUG=true

# pgAdmin4 container credentials - use these
# to log in to `http://localhost:8686`
PGADMIN_DEFAULT_EMAIL=ed.borasky@hackoregon.org
PGADMIN_DEFAULT_PASSWORD=yet_another_feeble_attempt
