
# PostgreSQL role for the database
POSTGRES_USER=transportation2019

# PostgreSQL database name
POSTGRES_NAME=transit_operations_analytics_data

# PostgreSQL host
POSTGRES_HOST=local_postgis

# PostgreSQL password. With a local PostGIS container,
# this password will be used for both `postgres` and
# `${POSTGRES_USER}`
POSTGRES_PASSWORD=Z6mHewT5He75

# Port on localhost for the PostgreSQL in the container
HOST_POSTGRES_PORT=5439

# Host path to raw data
HOST_RAW_PATH=/home/Raw

# Host path to world-writable output directory
HOST_CSVS_PATH=/home/container-csvs

# Host path for PostgreSQL data storage
HOST_POSTGRESQL_DATA=/home/container-postgres
