# PostgreSQL password.
POSTGRES_PASSWORD=sit-down-c0mic

# Port on localhost for the PostgreSQL in the container
HOST_POSTGRES_PORT=5439

# Host path to raw data
HOST_RAW_PATH=/home/Raw/

# Host path to world-writable output directory
HOST_WORK_PATH=/home/container-csvs

# Host path for PostgreSQL data storage
HOST_POSTGRESQL_DATA=/home/container-postgres
